body {
  background-image: url('../image/b.jpg');
  color: white ;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 22px ;
  padding: 70px ;
}
.projects {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 28px ;
  height: 500px ;
  margin: 100px ;
  text-align: center;
}
.navp {
  padding-left: 100px ;
  padding-right: 100px ;
  padding-top: 30px ;
}
.navp a {
  text-decoration: none;
  font-weight: bold;
  color: white ;
}
.fav {
  background-image: url('../image/f.jpg');
  padding-bottom: 200px ;
  padding-left: 80px ;
  padding-right: 80px ;
  text-align: center;
  margin-left: 50px ;

}
